.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 5px;
  border: 5px solid black;
  background: red;
  color: black;
}

.dark-mode {
  color: #fff;
  background-color: black;
}

